.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
}

a {
    color: #0f0f0f;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.bg-light {
    background-color: #dfdfdf!important;
}

@media (min-width: 768px)
.d-md-block {
    display: block!important;
    margin-top: 1%;
}