{% extends "base.html" %}

{% block content %}
<body class="login-page-body" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;../static/images/sla3_2.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;" src="../static/images/sla3_2.jpg">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3><img src="../static/images/logo3.png" alt="Pro.Shtor" class="c-desktop-logo" height="15"></a></h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="логин">

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend ">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="пароль">
                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox">Запомнить меня
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Войти" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}


