
{% extends "dashboard.html" %}
{% block content %}
<h2>{{ title }}</h2>
    <tr>
        <td>{{ user_info.prus_id if user_info.prus_id else ' - ' }}</td>
        <td>{{ user_info.prus_name if user_info.prus_name != 'None' else ' - ' }}</td>
        <td>{{ user_info.prus_email if user_info.prus_email != 'None' else ' - ' }}</td>
        <td>{{ user_info.prus_phone if user_info.prus_phone != 'None' else ' - ' }}</td>
        <td>{{ user_info.prus_date_created }}</td>
        <td>{{ user_info.prus_date_modified }}</td>
        <td>
            <button>
                <a href="/dashboard/users/edit/{{ user_info.prus_id }}">Редактировать</a>
            </button>
            <button>delete</button>
        </td>
    </tr>
{% endblock %}